/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .container--w60 {
        width: 100%;
        max-width: 400px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .container--w60 {
        width: 60%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .container--w60 {
        width: 40%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
}

.navbar--styled {
    background-color: #fafafa;
}

.container--spaced {
    margin: 50px auto 25px auto;
}

.container__header {
    margin: 0 auto 25px auto;
}

.navbar-brand__img {
    height: 60px;
}

.button--main {
    padding: 10px 40px;
    background-color: #9900FF;
    font-weight: 500;
    color: #ffffff;
    border-radius: 5px;
    border: 2px solid #9900FF;
}

.button--main:hover {
    color: #9900FF;
    background-color: rgba(0,0,0,0);
}

.button--main:active {
    background-color: #9900FF;
    color: #ffffff;
}

.form-control--custom {
    border-color: #9900FF !important;
    border-width: 2px !important;
    height: 40px !important;
    border-radius: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    border-top: 0 !important;
    transition: border-bottom-color .5s;
}

.form-control--custom:hover {
    border-color: #33CCCC !important;
}

.form-control--custom:focus {
    box-shadow: none !important;
    border-color: #FF33FF !important;
}

.form-control--custom.is-valid, .was-validated .form-control--custom:valid {
    border-color: #28a745 !important;
}

.form-control--custom.is-valid:focus, .was-validated .form-control--custom:valid:focus {
    border-color: #28a745 !important;
    box-shadow: none !important;
}

.form-control--custom.is-invalid, .was-validated .form-control--custom:invalid {
    border-color: #dc3545 !important;
}

.form-control--custom.is-invalid:focus, .was-validated .form-control--custom:invalid:focus {
    border-color: #dc3545 !important;
    box-shadow: none !important;
}