/* Super small devices */
@media (min-width: 300px) {
    .login-auth__box {
        box-shadow: none;
        padding: 0;
        border-radius: 0;
    }
    .container--w400 {
        max-width: 400px;
    }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .login-auth__box {
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
        padding: 50px;
        border-radius: 30px;
    }
    .container--w400 {
        max-width: 500px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
}

.navbar--styled {
    background-color: #9900FF;
    color: #ffffff;
}

.container__header {
    margin: 0 auto 25px auto;
}

.navbar-brand__img {
    height: 60px;
}

.button--primary {
    padding: 10px 40px;
    background-color: #9900FF;
    font-weight: 500;
    color: #ffffff;
    border-radius: 5px;
    border: 2px solid #9900FF;
}

.button--secondary {
    cursor: pointer;
    padding: 10px 40px;
    background-color: #ffffff;
    font-weight: 500;
    color: #9900FF !important;
    border-radius: 5px;
    border: 2px solid #9900FF;
}

.button--secondary:hover {
    color: #ffffff !important;
    background-color: #9900FF;
}

.button--secondary:active {
    background-color: #ffffff;
    color: #9900FF !important;
}

.button--primary:hover {
    color: #9900FF;
    background-color: rgba(0,0,0,0);
}

.button--primary:active {
    background-color: #9900FF;
    color: #ffffff;
}

.form-control--custom {
    border-color: #9900FF !important;
    border-width: 2px !important;
    height: 40px !important;
    border-radius: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    border-top: 0 !important;
    transition: border-bottom-color .5s;
}

.form-control--custom:hover {
    border-color: #33CCCC !important;
}

.form-control--custom:focus {
    box-shadow: none !important;
    border-color: #FF33FF !important;
}

.form-control--custom.is-valid, .was-validated .form-control--custom:valid {
    border-color: #28a745 !important;
}

.form-control--custom.is-valid:focus, .was-validated .form-control--custom:valid:focus {
    border-color: #28a745 !important;
    box-shadow: none !important;
}

.form-control--custom.is-invalid, .was-validated .form-control--custom:invalid {
    border-color: #dc3545 !important;
}

.form-control--custom.is-invalid:focus, .was-validated .form-control--custom:invalid:focus {
    border-color: #dc3545 !important;
    box-shadow: none !important;
}

a.link {
    color: #ffffff;
}

a.link:hover {
    color: #33CCCC;
    text-decoration: none;
}

.footer {
    background-color: #9900FF;
    padding: 30px 0;
}

.footer__p {
    color: #dcdcdc;
    text-align: center;
}

.login-auth {
    position: relative;
    padding: 50px 0;
    overflow-x: hidden;
}

.login-auth-flex {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: relative;
}

.login-auth__box-wrapper {
    position: relative;
}

.login-auth__box {
    position: relative;
}

.box-right {
    transform: translate(-50%);
    transition: 1s;
}

.box-left {
    transform: translate(50%);
    transition: 1s;
}

.form-group__i {
    color: #7d7d7d;
    font-size: 15px;
}

.button--default {
    background: none;
    border: none;
}